In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://ralle:P@ssword@localhost:3306/plotly', echo=False)

In [2]:
data = pd.read_sql('''SELECT username,password FROM user''',engine)
print(data)

  username password
0     raul     test
1      tom    test2

In [3]:
data['username'].where(data['username']=='raul')

0    raul
1     NaN
Name: username, dtype: object

In [4]:
# data2 = data.to_dict(orient="index")
data2 = dict(data.values.tolist())
print(data2)

{'raul': 'test', 'tom': 'test2'}